
<div class="books_show">
  <div class="books_title_show">
    <h7 class="show_label">Title:</h7>
    <%= @book.title %>
  </div>

  <p>
    <h7 class="show_label">Body:</h7>
    <%= @book.body %>
  </p>
</div>
<div class="links">
  <%= link_to "Edit", edit_book_path(@book.id) %>  |
  <%= link_to "Back", books_path %>
</div>