/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
}

 .books_index {
   font-family: sans-serif;
 }

.new-book {
  margin-top: 20px;
  flex-direction: column;
}

.container {
  margin: 20px;
}

.books_index {
  margin-top; 5px;
}

.heading {
    margin-bottom: 5px;
    
}

th,td{
  padding-right: 20px;
}

.new_book {
  margin-top: 20px;
  margin-bottom: 10px;
}

.books_show {
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.books_title_show {
  margin-bottom: 30px;
}

.books_title,
.books_body,
.actions {
  margin-bottom: 10px;
}


a {
  color: black;
}

.top_text {
  line-height: 50px;
  margin: 10px 0;
}
.top_contents {
  margin-left: 30px;
}